global
    log stdout format raw local0
    maxconn 4096
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend https-in
    bind *:443 ssl crt /home/desire/qtglobal/haproxy/cert.pem
    default_backend webservers

backend webservers
    server server1 127.0.0.1:80 check
